---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

export const prerender = true;
---

<Layout>
  <main>
    <div class="mx-auto max-w-6xl py-8">
      <div class="text-center">
        <h1 class="text-2xl mt-4 max-w-xl mx-auto">{t("contact.success")}</h1>
      </div>
    </div>
  </main>
</Layout>
