---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <main>
    <div class="max-w-6xl mx-auto mt-10">
      <h1 class="font-bold text-3xl">Impressum</h1>

      <div class="mt-4">Niclas Jost</div>
      <div>niclas.jost00@gmail.com</div>
      <div>+49 15129804828</div>
      <div>Kurt Eisner Straße 70, 04275 Leipzig</div>
    </div>
  </main>
</Layout>
