---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("de");
---

<Layout>
  <main>
    <div class="mx-auto mt-10 max-w-6xl">
      <h1 class="text-3xl font-bold">Impressum</h1>

      <div class="mt-4">Niclas Jost</div>
      <div>niclas.jost00@gmail.com</div>
      <div>+49 15129804828</div>
      <div>Kurt Eisner Straße 70, 04275 Leipzig</div>
    </div>
  </main>
</Layout>
