---
import { Image } from "astro:assets";

export interface Props {
  img?: ImageMetadata;
  name: string;
}

const { img, name } = Astro.props;
const imageSize = 20;
---

<div class="inline-flex items-center rounded-full border px-2 py-1 text-sm dark:border-neutral-700 dark:bg-neutral-800 dark:text-white">
  {img && <Image src={img} width={imageSize} alt={`${name} Logo`} />}
  <div class="ml-2">{name}</div>
</div>
