---
import { Icon } from "astro-icon";
import DarkModeToggle from "../components/DarkModeToggle.astro";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Niclas Jost</title>
  </head>
  <body class="text-neutral-800 dark:text-white dark:bg-neutral-900 transition-colors">
    <nav class="border-b h-14 bg-white dark:bg-neutral-900 dark:border-b-neutral-700 sm:px-0 px-2">
      <div class="mx-auto max-w-6xl flex items-center justify-between h-full">
        <a class="font-bold text-xl" href="/">Niclas Jost</a>

        <div class="space-x-8 sm:flex hidden">
          <a href="#projects">Projekte</a>
          <a href="/cv">Lebenslauf</a>
          <div class="flex items-center space-x-2">
            <a href="https://github.com/niclas-j" target="_blank" aria-label="Öffne mein GitHub Profil">
              <Icon name="mdi:github" class="h-6 w-6" />
            </a>
            <a href="https://www.linkedin.com/in/niclas-jost-45b513240/" target="_blank" aria-label="Öffne mein LinkedIn Profil">
              <Icon name="mdi:linkedin" class="h-6 w-6" />
            </a>
          </div>

          <DarkModeToggle />
        </div>

        <button id="navbar-menu" aria-label="Navbar Menü öffnen" class="sm:hidden">
          <Icon class="h-8 w-8" name="ic:baseline-menu" />
        </button>

        <div class="hidden absolute w-full dark:text-white h-96 dark:bg-neutral-900 bg-white border-b dark:border-b-neutral-700 shadow-lg top-0 left-0 slide-out-to-top-96 slide-in-from-top-96" id="menu-container">
          <div class="flex justify-end h-14 items-center px-2">
            <button aria-label="Navbar Menü schließen" id="navbar-menu-close-btn">
              <Icon class="h-8 w-8" name="ic:baseline-close" />
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div id="content" class="min-h-screen">
      <slot />
    </div>
    <footer class="bg-slate-100 dark:bg-neutral-800 dark:border-neutral-700 h-14 text-xs border-t">
      <div class="mx-auto max-w-4xl flex justify-between items-center h-full">
        <div class="opacity-60">Kontakt · Impressum · Datenschutzerklärung</div>
        <div class="opacity-60">© Niclas Jost 2023</div>
      </div>
    </footer>
  </body>
</html>

<script>
  const navbarMenu = document.getElementById("navbar-menu");
  const menuContainer = document.getElementById("menu-container");
  const content = document.getElementById("content");

  const closeBurgerMenu = () => {
    menuContainer!.classList.remove("animate-in");
    menuContainer!.classList.add("hidden", "animate-out");
  };
  content!.addEventListener("click", closeBurgerMenu);

  navbarMenu!.addEventListener("click", () => {
    menuContainer!.classList.add("animate-in");
    menuContainer!.classList.remove("hidden", "animate-out");
  });

  const closeBtn = document.getElementById("navbar-menu-close-btn");
  closeBtn!.addEventListener("click", closeBurgerMenu);
</script>
