---
import { Icon } from "astro-icon";
import DarkModeToggle from "../components/DarkModeToggle.astro";
import i18next, { t } from "i18next";
import { HeadHrefLangs, LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Niclas Jost - Profesionelle Softwareentwicklung aus Deutschland</title>
    <HeadHrefLangs />
    <meta property="og:title" content="Niclas Jost - Professionelle Softwareentwicklung aus Deutschland" />
    <meta property="og:url" content="https://asjost.com" />
    <meta property="og:image" content="https://asjost.com/_astro/profilbild.6cfb46fd_Z3D8dO.webp" />

    <meta name="description" content="Als professioneller Entwickler biete ich maßgeschneiderte und performante Lösungen für Web- und mobile Anwendungen. Mit meiner Expertise in Frontend-, Backend- und Full-Stack-Entwicklung helfe ich Ihnen, Ihre Online-Präsenz auf die nächste Stufe zu bringen. Kontaktieren Sie mich gerne, um Ihre Projekte zu besprechen." />
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved && themeSaved === "dark") {
        document.documentElement.classList.add("dark");
      } else if (themeSaved && themeSaved === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        if (prefersDark) {
          document.documentElement.classList.add("dark");
          localStorage.setItem("theme", "dark");
        }
      }
    </script>
  </head>
  <body class={`${import.meta.env.DEV && "debug-screens"} text-neutral-800 transition-colors dark:bg-neutral-900 dark:text-white`}>
    <nav class="h-14 border-b bg-white px-2 dark:border-b-neutral-700 dark:bg-neutral-900 sm:px-4 lg:px-0">
      <div class="mx-auto flex h-full max-w-6xl items-center justify-between">
        <div class="flex items-center space-x-6">
          <a class="text-xl font-bold" href={localizePath("/")}>Niclas Jost</a>
          <div class="flex items-center space-x-2 opacity-80">
            <a href="https://github.com/niclas-j" target="_blank" aria-label="Öffne mein GitHub Profil">
              <Icon name="mdi:github" class="h-6 w-6" />
            </a>
            <a href="https://www.linkedin.com/in/niclas-jost-45b513240/" target="_blank" aria-label="Öffne mein LinkedIn Profil">
              <Icon name="mdi:linkedin" class="h-6 w-6" />
            </a>
          </div>
        </div>

        <div class="flex items-center space-x-8">
          <a class="hidden sm:block" href={localizePath("/#projects")}>{t("nav.projects")}</a>
          <a class="hidden sm:block" href={localizePath("/cv")}>{t("nav.cv")}</a>
          <a class="hidden sm:block" href={localizePath("/contact")}>{t("nav.contact")}</a>

          <DarkModeToggle />
        </div>
      </div>

      <button id="navbar-menu" aria-label="Navbar Menü öffnen" class="hidden">
        <Icon class="h-8 w-8" name="ic:baseline-menu" />
      </button>

      <div class="absolute left-0 top-0 hidden h-96 w-full border-b bg-white shadow-lg slide-in-from-top-96 slide-out-to-top-96 dark:border-b-neutral-700 dark:bg-neutral-900 dark:text-white" id="menu-container">
        <div class="flex h-14 items-center justify-end px-2">
          <button aria-label="Navbar Menü schließen" id="navbar-menu-close-btn">
            <Icon class="h-8 w-8" name="ic:baseline-close" />
          </button>
        </div>
      </div>
    </nav>

    <div id="content" class="min-h-screen">
      <slot />
    </div>
    <footer class="h-14 border-t bg-slate-100 px-2 text-xs dark:border-neutral-700 dark:bg-neutral-800 sm:px-4 lg:px-0">
      <div class="mx-auto flex h-full max-w-6xl items-center justify-between text-xs">
        <div class="opacity-80">© Niclas Jost 2023</div>
        <div class="opacity-80">
          <LanguageSelector class="border-none bg-transparent pr-7 text-xs hover:cursor-pointer" />
          <a href={localizePath("/contact")}>{t("nav.contact")}</a> · <a href={localizePath("/impressum")}>{t("nav.about")}</a> · <a href={localizePath("privacy")}>{t("nav.privacy")}</a>
        </div>
      </div>
    </footer>
  </body>
</html>
